/* ======================================================================== */
/* ! Common
/* ======================================================================== */
*, *:focus {outline: 0!important;outline-color: transparent!important;outline-width: 0!important;outline-style: none!important;}
html { position: relative; min-height: 100%; background: #ffffff; }
h4 { padding: 15px 0 0; }

.dashed { text-decoration: none; border-bottom: 1px dashed; line-height: 1.2em; display: inline-block; }
.dashed:hover, .dashed:focus { text-decoration: none; }

.cursor-pointer { cursor: pointer; }
.cursor-move { cursor: move; }

.text-stroke { text-decoration: line-through; }
.text-underline { text-decoration: underline; }

.ui-autocomplete { z-index: 99999; }

/* ======================================================================== */
/* ! BS Callout
/* ======================================================================== */
.bs-callout { padding: 20px; border: 1px solid #eee; border-left-width: 5px; border-radius: 3px; }
.bs-callout h4 { margin-top: 0; margin-bottom: 5px; }
.bs-callout p:last-child { margin-bottom: 0; }
.bs-callout code { border-radius: 3px; }
.bs-callout+.bs-callout { margin-top: -5px; }
.bs-callout-primary { border-left-color: #428bca; }
.bs-callout-primary h4 { color:#428bca; }
.bs-callout-success { border-left-color: #5cb85c; }
.bs-callout-success h4 { color:#5cb85c; }
.bs-callout-danger { border-left-color: #d9534f; }
.bs-callout-danger h4 { color: #d9534f; }
.bs-callout-warning { border-left-color: #f0ad4e; }
.bs-callout-warning h4 { color:#f0ad4e; }
.bs-callout-info { border-left-color: #5bc0de; }
.bs-callout-info h4 { color:#5bc0de; }


/* ======================================================================== */
/* ! Margins
/* ======================================================================== */
.mt-0 { margin-top: 0; }
.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-15 { margin-top: 15px; }
.mt-20 { margin-top: 20px; }
.mt-25 { margin-top: 25px; }
.mt-30 { margin-top: 30px; }
.mt-35 { margin-top: 35px; }
.mt-40 { margin-top: 40px; }
.mt-45 { margin-top: 45px; }
.mt-50 { margin-top: 50px; }
.mt-55 { margin-top: 55px; }
.mt-60 { margin-top: 60px; }
.mt-65 { margin-top: 65px; }
.mt-70 { margin-top: 70px; }
.mt-75 { margin-top: 75px; }
.mt-80 { margin-top: 80px; }
.mb-0 { margin-bottom: 0; }
.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-25 { margin-bottom: 25px; }
.mb-30 { margin-bottom: 30px; }
.mb-35 { margin-bottom: 35px; }
.mb-40 { margin-bottom: 40px; }
.mb-45 { margin-bottom: 45px; }
.mb-50 { margin-bottom: 50px; }
.mb-55 { margin-bottom: 55px; }
.mb-60 { margin-bottom: 60px; }
.mb-65 { margin-bottom: 65px; }
.mb-70 { margin-bottom: 70px; }
.mb-75 { margin-bottom: 75px; }
.mb-80 { margin-bottom: 80px; }
.ml-0 { margin-left: 0; }
.ml-5 { margin-left: 5px; }
.ml-10 { margin-left: 10px; }
.ml-15 { margin-left: 15px; }
.ml-20 { margin-left: 20px; }
.ml-25 { margin-left: 25px; }
.ml-30 { margin-left: 30px; }
.ml-35 { margin-left: 35px; }
.ml-40 { margin-left: 40px; }
.ml-45 { margin-left: 45px; }
.ml-50 { margin-left: 50px; }
.ml-55 { margin-left: 55px; }
.ml-60 { margin-left: 60px; }
.ml-65 { margin-left: 65px; }
.ml-70 { margin-left: 70px; }
.ml-75 { margin-left: 75px; }
.ml-80 { margin-left: 80px; }
.mr-0 { margin-right: 0; }
.mr-5 { margin-right: 5px; }
.mr-10 { margin-right: 10px; }
.mr-15 { margin-right: 15px; }
.mr-20 { margin-right: 20px; }
.mr-25 { margin-right: 25px; }
.mr-30 { margin-right: 30px; }
.mr-35 { margin-right: 35px; }
.mr-40 { margin-right: 40px; }
.mr-45 { margin-right: 45px; }
.mr-50 { margin-right: 50px; }
.mr-55 { margin-right: 55px; }
.mr-60 { margin-right: 60px; }
.mr-65 { margin-right: 65px; }
.mr-70 { margin-right: 70px; }
.mr-75 { margin-right: 75px; }
.mr-80 { margin-right: 80px; }


/* ======================================================================== */
/* ! Paddings
/* ======================================================================== */
.pt-0 { padding-top: 0; }
.pt-5 { padding-top: 5px; }
.pt-10 { padding-top: 10px; }
.pt-15 { padding-top: 15px; }
.pt-20 { padding-top: 20px; }
.pt-25 { padding-top: 25px; }
.pt-30 { padding-top: 30px; }
.pt-35 { padding-top: 35px; }
.pt-40 { padding-top: 40px; }
.pt-45 { padding-top: 45px; }
.pt-50 { padding-top: 50px; }
.pt-55 { padding-top: 55px; }
.pt-60 { padding-top: 60px; }
.pt-65 { padding-top: 65px; }
.pt-70 { padding-top: 70px; }
.pt-75 { padding-top: 75px; }
.pt-80 { padding-top: 80px; }
.pb-0 { padding-bottom: 0; }
.pb-5 { padding-bottom: 5px; }
.pb-10 { padding-bottom: 10px; }
.pb-15 { padding-bottom: 15px; }
.pb-20 { padding-bottom: 20px; }
.pb-25 { padding-bottom: 25px; }
.pb-30 { padding-bottom: 30px; }
.pb-35 { padding-bottom: 35px; }
.pb-40 { padding-bottom: 40px; }
.pb-45 { padding-bottom: 45px; }
.pb-50 { padding-bottom: 50px; }
.pb-55 { padding-bottom: 55px; }
.pb-60 { padding-bottom: 60px; }
.pb-65 { padding-bottom: 65px; }
.pb-70 { padding-bottom: 70px; }
.pb-75 { padding-bottom: 75px; }
.pb-80 { padding-bottom: 80px; }
.pl-0 { padding-left: 0; }
.pl-5 { padding-left: 5px; }
.pl-10 { padding-left: 10px; }
.pl-15 { padding-left: 15px; }
.pl-20 { padding-left: 20px; }
.pl-25 { padding-left: 25px; }
.pl-30 { padding-left: 30px; }
.pl-35 { padding-left: 35px; }
.pl-40 { padding-left: 40px; }
.pl-45 { padding-left: 45px; }
.pl-50 { padding-left: 50px; }
.pl-55 { padding-left: 55px; }
.pl-60 { padding-left: 60px; }
.pl-65 { padding-left: 65px; }
.pl-70 { padding-left: 70px; }
.pl-75 { padding-left: 75px; }
.pl-80 { padding-left: 80px; }
.pr-0 { padding-right: 0; }
.pr-5 { padding-right: 5px; }
.pr-10 { padding-right: 10px; }
.pr-15 { padding-right: 15px; }
.pr-20 { padding-right: 20px; }
.pr-25 { padding-right: 25px; }
.pr-30 { padding-right: 30px; }
.pr-35 { padding-right: 35px; }
.pr-40 { padding-right: 40px; }
.pr-45 { padding-right: 45px; }
.pr-50 { padding-right: 50px; }
.pr-55 { padding-right: 55px; }
.pr-60 { padding-right: 60px; }
.pr-65 { padding-right: 65px; }
.pr-70 { padding-right: 70px; }
.pr-75 { padding-right: 75px; }
.pr-80 { padding-right: 80px; }


/* ======================================================================== */
/* ! Suggest Search
/* ======================================================================== */
* html .ui-autocomplete {height: 300px;}
.ui-autocomplete {max-height: 300px;overflow-y: auto;overflow-x: hidden;}


/* ======================================================================== */
/* ! Flex-slider
/* ======================================================================== */
.flexslider { position: relative; }
.flexslider .flex-direction-nav .flex-prev { left: 0; }
.flexslider .flex-direction-nav .flex-next { right: 0; }
.flexslider .flex-direction-nav a:before { position: relative; top: 1px; display: inline-block; font-family: Font Awesome\ 5 Free; font-style: normal; font-weight: 900; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.flexslider .flex-direction-nav a.flex-prev:before { content: "\f053"; }
.flexslider .flex-direction-nav a.flex-next:before { content: "\f054"; }

/* ======================================================================== */
/* ! Multi-level menu
/* ======================================================================== */
.dropdown-menu { margin: -1px; }
.dropdown-submenu { position: relative; } 
.dropdown-submenu > .dropdown-menu { top: 0; left: 100%; margin-top: -1px; } 
.dropdown-submenu:hover > .dropdown-menu { display: block; }
.dropdown-submenu > a:after { display: block; content: " "; float: right; width: 0; height: 0; border-color: transparent; border-style: solid; border-width: 5px 0 5px 5px; border-left-color: #000; margin-top: 5px; }
.dropdown-submenu:hover > a:after { border-left-color: #eee; }
.dropdown-submenu .pull-left { float: none; }
.dropdown-submenu.pull-left > .dropdown-menu { left: -100%; margin-left: 10px; }
.nav.navbar-nav > li:hover > .dropdown-menu { display: block; }
.nav > li > a:hover ~ .dropdown-menu, .nav > li > a ~ .dropdown-menu:hover { display: block; }
.nav > li:last-child > .dropdown-menu { right: 0; left: initial; }
.nav > li:last-child .dropdown-submenu > .dropdown-menu { left: initial; margin-left: -101%; }

/* ======================================================================== */
/* ! BS Callout
/* ======================================================================== */
.bs-callout { padding: 20px; border: 1px solid #eee; border-left-width: 5px; border-radius: 3px; }
.bs-callout h4 { margin-top: 0; margin-bottom: 5px; }
.bs-callout p:last-child { margin-bottom: 0; }
.bs-callout code { border-radius: 3px; }
.bs-callout+.bs-callout { margin-top: -5px; }
.bs-callout-primary { border-left-color: #428bca; }
.bs-callout-primary h4 { color:#428bca; }
.bs-callout-success { border-left-color: #5cb85c; }
.bs-callout-success h4 { color:#5cb85c; }
.bs-callout-danger { border-left-color: #d9534f; }
.bs-callout-danger h4 { color: #d9534f; }
.bs-callout-warning { border-left-color: #f0ad4e; }
.bs-callout-warning h4 { color:#f0ad4e; }
.bs-callout-info { border-left-color: #5bc0de; }
.bs-callout-info h4 { color:#5bc0de; }




/* ======================================================================== */
/* ! Fonts
/* ======================================================================== */
@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Regular.eot');
	src: local('Circe'), local('Circe-Regular'),
		url('../fonts/Circe-Regulard41d.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe-Regular.woff') format('woff'),
		url('../fonts/Circe-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-ExtraLight.eot');
	src: local('Circe ExtraLight'), local('Circe-ExtraLight'),
		url('../fonts/Circe-ExtraLightd41d.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe-ExtraLight.woff') format('woff'),
		url('../fonts/Circe-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Thin.eot');
	src: local('Circe Thin'), local('Circe-Thin'),
		url('../fonts/Circe-Thind41d.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe-Thin.woff') format('woff'),
		url('../fonts/Circe-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Light.eot');
	src: local('Circe Light'), local('Circe-Light'),
		url('../fonts/Circe-Lightd41d.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe-Light.woff') format('woff'),
		url('../fonts/Circe-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Bold.eot');
	src: local('Circe Bold'), local('Circe-Bold'),
		url('../fonts/Circe-Boldd41d.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe-Bold.woff') format('woff'),
		url('../fonts/Circe-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-ExtraBold.eot');
	src: local('Circe ExtraBold'), local('Circe-ExtraBold'),
		url('../fonts/Circe-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe-ExtraBold.woff') format('woff'),
		url('../fonts/Circe-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	letter-spacing: 0.93px;
}

@font-face {
	font-family: 'signpaintermedium';
	src: url('../fonts/signpainter-housescript-webfont.eot');
	src: url('../fonts/signpainter-housescript-webfontd41d.eot?#iefix') format('embedded-opentype'),
		url('../fonts/signpainter-housescript-webfont.woff2') format('woff2'),
		url('../fonts/signpainter-housescript-webfont.woff') format('woff'),
		url('../fonts/signpainter-housescript-webfont.ttf') format('truetype'),
		url('../fonts/signpainter-housescript-webfont.svg#signpaintermedium') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Geometria';
	font-style: normal;
	font-weight: normal;
	src: local('Geometria'), url('../fonts/Geometria.woff') format('woff');
}


@font-face {
	font-family: 'Geometria-Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Geometria-Italic'), url('../fonts/Geometria-Italic.woff') format('woff');
}


@font-face {
	font-family: 'Geometria-Thin';
	font-style: normal;
	font-weight: normal;
	src: local('Geometria-Thin'), url('../fonts/Geometria-Thin.woff') format('woff');
}


@font-face {
	font-family: 'Geometria-ThinItalic';
	font-style: normal;
	font-weight: normal;
	src: local('Geometria-ThinItalic'), url('../fonts/Geometria-ThinItalic.woff') format('woff');
}


@font-face {
	font-family: 'Geometria-ExtraLight';
	font-style: normal;
	font-weight: normal;
	src: local('Geometria-ExtraLight'), url('../fonts/Geometria-ExtraLight.woff') format('woff');
}


@font-face {
	font-family: 'Geometria-ExtraLightItalic';
	font-style: normal;
	font-weight: normal;
	src: local('Geometria-ExtraLightItalic'), url('../fonts/Geometria-ExtraLightItalic.woff') format('woff');
}


@font-face {
	font-family: 'Geometria-Light';
	font-style: normal;
	font-weight: normal;
	src: local('Geometria-Light'), url('../fonts/Geometria-Light.woff') format('woff');
}


@font-face {
	font-family: 'Geometria-LightItalic';
	font-style: normal;
	font-weight: normal;
	src: local('Geometria-LightItalic'), url('../fonts/Geometria-LightItalic.woff') format('woff');
}


@font-face {
	font-family: 'Geometria-Medium';
	font-style: normal;
	font-weight: normal;
	src: local('Geometria-Medium'), url('../fonts/Geometria-Medium.woff') format('woff');
}


@font-face {
	font-family: 'Geometria-MediumItalic';
	font-style: normal;
	font-weight: normal;
	src: local('Geometria-MediumItalic'), url('../fonts/Geometria-MediumItalic.woff') format('woff');
}


@font-face {
	font-family: 'Geometria-Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Geometria-Bold'), url('../fonts/Geometria-Bold.woff') format('woff');
}


@font-face {
	font-family: 'Geometria-BoldItalic';
	font-style: normal;
	font-weight: normal;
	src: local('Geometria-BoldItalic'), url('../fonts/Geometria-BoldItalic.woff') format('woff');
}


@font-face {
	font-family: 'Geometria-ExtraBold';
	font-style: normal;
	font-weight: normal;
	src: local('Geometria-ExtraBold'), url('../fonts/Geometria-ExtraBold.woff') format('woff');
}


@font-face {
	font-family: 'Geometria-ExtraBoldItalic';
	font-style: normal;
	font-weight: normal;
	src: local('Geometria-ExtraBoldItalic'), url('../fonts/Geometria-ExtraBoldItalic.woff') format('woff');
}


@font-face {
	font-family: 'Geometria-Heavy';
	font-style: normal;
	font-weight: normal;
	src: local('Geometria-Heavy'), url('../fonts/Geometria-Heavy.woff') format('woff');
}


@font-face {
	font-family: 'Geometria-HeavyItalic';
	font-style: normal;
	font-weight: normal;
	src: local('Geometria-HeavyItalic'), url('../fonts/Geometria-HeavyItalic.woff') format('woff');
}