
body.no-scroll { height: 100%; width: 100%; position: fixed; overflow: hidden; }


a.link-orange { color: #df5527; }
a.link-orange:hover { color: #f2a020; }

.font-weight-thin { font-weight: 100 !important; }
.font-weight-extra-light { font-weight: 200 !important; }
.font-weight-light { font-weight: 300 !important; }
.font-weight-extra-bold { font-weight: 800 !important; } 
.letter-space-93 { letter-spacing: 0.93px !important; }
.letter-space-100 { letter-spacing: 1px !important; }
.letter-space-45 { letter-spacing: 0.45px !important; }
.letter-space-271 { letter-spacing: 2.71px !important; }
.letter-space-62 { letter-spacing: 0.62px !important; }
.letter-space-86 { letter-spacing: 0.86px !important; }
.letter-space-114 { letter-spacing: 1.14px !important; }
.letter-space-129 { letter-spacing: 1.29px !important; } 
.letter-space-236 { letter-spacing: 2.36px !important; }

h1.blog-title { font-size: 1.5em; }
h2 {color: #333333; }

.geometria-bold-font { font-family: 'Geometria-Bold'; letter-spacing: 0.96px; }
.circe-extra-bold-font { font-family: 'Circe'; font-weight: 800; letter-spacing: 0.7px; }
.circe-bold-font { font-family: 'Circe'; font-weight: bold;  }

.signpaint { font-family: 'signpaintermedium', sans-serif !important; line-height: 1em; }
.signprice { font-family: 'signpaintermedium', sans-serif !important; font-size: 2.5em; line-height: 1em; }
.signprice-small { font-size: 2em; }
.signprice-xs { font-size: 1.8em; }
.signprice-big { font-size: 4.5em; }

.popover { max-width: initial; box-shadow: 0px 0px 10px -8px #000; }
/*.popover.popover-width-auto { max-width: auto; }*/
.tooltip { font-size: 0.9em; }

a.text-dashed { border-bottom: 1px dashed #5cb840; }
a.text-dashed:hover { text-decoration: none; }

.text-xs { font-size: 0.7em; line-height: 1.2em; }
.text-small { font-size: 0.9em; line-height: 1.2em; }
.text-normal { font-size: 1em; line-height: 1.2em; }
.text-big { font-size: 1.3em; line-height: 1.2em; }
.text-dark { color: #210402 !important; }
.text-grey { color: #9c9898 !important; } 
.text-primary { color: #5cb840 !important; }
.text-orange { color: #df5527 !important; }
.text-white { color: #ffffff !important; }
/*.text-success { color: #7ed321 !important; }*/
.text-success {  }
.text-danger { color: #d0021b !important; }
.text-blue { color: #4483e3 !important; }
.text-shadow-dark { text-shadow: 1px 1px #000; }
 
.opacity-05 { opacity: 0.5; }
.w-90 { width: 90%; } 
 
.static-content img { max-width: 100%; height: auto; }

.sp-slide.has-overlay img { width: 100%; vertical-align: top; }
/*.sp-slide.has-overlay::after { content: '\A'; position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: rgba(25, 4, 2, 0.4); }*/
.sp-slide.has-overlay .sp-layer { z-index: 1; }

.fsvg-icon {
	background-color: red;
	-webkit-mask: url(../../resources/catalog/icons/menu-delivery-icon.html) no-repeat center;
	mask: url(../../resources/catalog/icons/menu-delivery-icon.html) no-repeat center;
	width: 32px;
	height: 100%;
	margin-right: 10px;
}

a.text-hover-dark:hover, button.text-hover-dark:hover { color: #210402 !important; }
a.text-hover-grey:hover, button.text-hover-grey:hover { color: #9c9898 !important; }
a.text-hover-primary:hover, button.text-hover-primary:hover { color: #f2a020 !important; }
a.text-hover-orange:hover, button.text-hover-orange:hover { color: #df5527 !important; }
a.text-hover-white:hover, button.text-hover-white:hover { color: #ffffff !important; }
a.text-hover-success:hover, button.text-hover-success:hover { color: #7ed321 !important; }
a.text-hover-danger:hover, button.text-hover-danger:hover { color: #d0021b !important; }

.custom-control-input.is-valid~.custom-control-label.text-dark::before, .was-validated .custom-control-input:valid~.custom-control-label.text-dark::before { border-color: #adb5bd; }
.custom-control-input.is-valid:checked~.custom-control-label.text-dark::before, .was-validated .custom-control-input:valid:checked~.custom-control-label.text-dark::before { border-color: #40a3e1; background-color: #40a3e1; }
.custom-control-input~.custom-control-label { line-height: 1.8em; }
.custom-control-input:checked~.custom-control-label { color: #fda216 !important; }
.custom-control-input:checked~.custom-control-label::before { border-color: #fda216; background-color: #fda216; }
.custom-control-input:focus~.custom-control-label::before { box-shadow: none; }
.form-control.is-valid.valid-nodecoration, .was-validated .form-control.valid-nodecoration:valid { border-color: #ced4da; background-image: none; padding-right: inherit; }

.text-line-through { position: relative; }
.text-line-through:after { border-bottom: 1px solid #333; content: ""; left: 0; margin-top: calc(0.125em / 2 * -1); position: absolute; right: 0; top: 48%;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	transform:rotate(0deg); }

a.text-grey:hover { color: #40a3e1 !important; }
a.text-primary:hover { color: #f2a020 !important; }

a.text-white:hover { color: #ddd !important; }

.bg-grey { background: #f7f7f7; }
.bg-primary { background: #5cb840 !important; }
.bg-orange { background: #df5527; }
.bg-black { background: #210402; }

.bg-convert-right {
	background: url('../images/convert-mirbeer.svg') no-repeat scroll bottom right #f2a020;
	background-size: auto 110px;
	min-height: 200px;
}

.border-primary { border-color: #fda216 !important; }
.border-orange { border-color: #df5527 !important; }

.nav-pills-primary {  }
.nav-pills-primary .nav-link { border-radius: 20px; border: 1px solid #cec4c4; color: #210402; text-transform: uppercase; font-weight: 800; margin-right: 10px; font-size: 0.8em; }
.nav-pills-primary .nav-item:last-child .nav-link { margin-right: 0; }
.nav-pills-primary .nav-link:focus, .nav-pills-primary .nav-link:hover, .nav-pills-primary .nav-link.active { background-color: #f2a020; border-color: #f2a020; color: #ffffff; }

.btn { border-radius: 20px; letter-spacing: 1px; font-size: 0.8em; padding-left: 25px; padding-right: 25px; text-transform: uppercase; }
.btn-primary { background-color: #f2a020; border-color: #f2a020; color: #ffffff; }
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus { background-color: #ed6837; border-color: #ed6837; color: #ffffff; box-shadow: 0 0 0 0.2rem rgba(255,130,45,.5); }
.btn-primary.disabled, .btn-primary:disabled { background: #f2a020; border-color: #f2a020; opacity: 0.5; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active { box-shadow: none; }
.btn-primary:focus, .btn-primary:active { background-color: #f2a020; border-color: #f2a020; color: #ffffff; } 
.btn-primary:hover { background-color: #df5527; border-color: #df5527; color: #ffffff; }

.btn-outline-primary { border-color: #f2a020; color: #f2a020; }
.btn-outline-primary:hover, .btn-outline-primary:focus { background-color: #f2a020; border-color: #f2a020; color: #fff; }
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle { background-color: #f2a020; border-color: #f2a020; color: #fff; }
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle { background-color: #f2a020; border-color: #f2a020; color: #fff; }

.btn { border-radius: 20px; letter-spacing: 1px; font-size: 0.8em; padding-left: 25px; padding-right: 25px; text-transform: uppercase; }
.btn-danger { background-color: #e1541a; border-color: #e1541a; color: #ffffff; }
.btn-danger:not(:disabled):not(.disabled).active:focus, .btn-danger:not(:disabled):not(.disabled):active:focus, .show>.btn-danger.dropdown-toggle:focus { background-color: #ed6837; border-color: #ed6837; color: #ffffff; box-shadow: 0 0 0 0.2rem rgba(255,130,45,.5); }
.btn-danger.disabled, .btn-danger:disabled { background: #e1541a; border-color: #e1541a; opacity: 0.5; }

.btn-danger:hover, .btn-danger:focus, .btn-danger:active { box-shadow: none; }
.btn-danger:focus, .btn-danger:active { background-color: #e1541a; border-color: #e1541a; color: #ffffff; } 
.btn-danger:hover { background-color: #822202; border-color: #822202; color: #ffffff; }


.btn-light { background-color: #f8f7f7; color: #9c9898; }
.btn-outline-dark:hover { color: #fff !important; }

.form-control.btn.btn-outline-dark:hover { background: #fff; }
.form-control.btn.btn-outline-dark::-webkit-input-placeholder { color: #210402; opacity: 0.6; }
.form-control.btn.btn-outline-dark::-moz-placeholder { color: #210402; opacity: 0.6; }
.form-control.btn.btn-outline-dark:-ms-input-placeholder { color: #210402; opacity: 0.6; }
.form-control.btn.btn-outline-dark:-moz-placeholder { color: #210402; opacity: 0.6; }

.form-control.btn.btn-outline-dark:focus::-webkit-input-placeholder, .form-control.btn.btn-outline-dark:hover::-webkit-input-placeholder { color: #9c9898; }
.form-control.btn.btn-outline-dark:focus::-moz-placeholder, .form-control.btn.btn-outline-dark:hover::-moz-placeholder { color: #9c9898; }
.form-control.btn.btn-outline-dark:focus:-ms-input-placeholder, .form-control.btn.btn-outline-dark:hover:-ms-input-placeholder { color: #9c9898; }
.form-control.btn.btn-outline-dark:focus:-moz-placeholder, .form-control.btn.btn-outline-dark:hover:-moz-placeholder { color: #9c9898; }

#email_subscribe_form [name="email"], #email_subscribe_form2 [name="email"] { text-align: center; }
#email_subscribe_form [name="email"]::-webkit-input-placeholder, #email_subscribe_form2 [name="email"]::-webkit-input-placeholder { text-align: center; }
#email_subscribe_form [name="email"]::-moz-placeholder, #email_subscribe_form2 [name="email"]::-moz-placeholder { text-align: center; }
#email_subscribe_form [name="email"]:-ms-input-placeholder, #email_subscribe_form2 [name="email"]:-ms-input-placeholder { text-align: center; }
#email_subscribe_form [name="email"]:-moz-placeholder, #email_subscribe_form2 [name="email"]:-moz-placeholder { text-align: center; }

#email_subscribe_form2 [name="email"]:focus::-webkit-input-placeholder, #email_subscribe_form2 [name="email"]:hover::-webkit-input-placeholder { color: #9c9898; }
#email_subscribe_form2 [name="email"]:focus::-moz-placeholder, #email_subscribe_form2 [name="email"]:hover::-moz-placeholder { color: #9c9898; }
#email_subscribe_form2 [name="email"]:focus:-ms-input-placeholder, #email_subscribe_form2 [name="email"]:hover:-ms-input-placeholder { color: #9c9898; }
#email_subscribe_form2 [name="email"]:focus:-moz-placeholder, #email_subscribe_form2 [name="email"]:hover:-moz-placeholder { color: #9c9898; }

.header { background: #fff; }
.header .header-logo { z-index: 1021; }
header .fixed-top a { }
header  .menu-li   .fixed-top a:hover { color: #fff; }
footer .phone:hover { color: #fff;}

nav.navbar {  border-bottom: 1px solid #c1c1c1; }

ol.breadcrumb { background: none; padding-left: 0; }
ol.breadcrumb li a { color: #9c9898 ; letter-spacing: 1px; }

a.soc { display: inline-block; width: fit-content; height: fit-content; text-align: center;font-size: 1.5em; line-height: 2em; }
a.soc i {display:block;}


 
@keyframes vkcolor { 0% { background: #df5527; } 100% { background: #4c75a3; } }
@-webkit-keyframes vkcolor { 0% { background: #df5527; } 100% { background: #4c75a3; } }

@keyframes facebookcolor { 0% { background: #df5527; } 100% { background: #3b5998; } }
@-webkit-keyframes facebookcolor { 0% { background: #df5527; } 100% { background: #3b5998; } }

@keyframes odnoklassnikicolor { 0% { background: #df5527; } 100% { background: #ed812b; } }
@-webkit-keyframes odnoklassnikicolor { 0% { background: #df5527; } 100% { background: #ed812b; } }

@keyframes youtubecolor { 0% { background: #df5527; } 100% { background: #ff0100; } }
@-webkit-keyframes youtubecolor { 0% { background: #df5527; } 100% { background: #ff0100; } }

@keyframes periscopecolor { 0% { background: #df5527; } 100% { background: #40a4c4; } }
@-webkit-keyframes periscopecolor { 0% { background: #df5527; } 100% { background: #40a4c4; } }

@keyframes instcolor { 0% { background: #df5527; } 100% { background: #7232bd; } }
@-webkit-keyframes instcolor { 0% { background: #df5527; } 100% { background: #7232bd; } }

@keyframes vibercolor { 0% { background: #df5527; } 100% { background: #675ca8; } }
@-webkit-keyframes vibercolor { 0% { background: #df5527; } 100% { background: #675ca8; } }

@keyframes whatsappcolor { 0% { background: #df5527; } 100% { background: #25d366; } }
@-webkit-keyframes whatsappcolor { 0% { background: #df5527; } 100% { background: #25d366; } }

#modal .modal-content, #imodal .modal-content { border-radius: 0; }
#modal .modal-header, #imodal .modal-header { background: #f9f9f9; border-bottom-color: #cec4c4; display: block !important; }
#modal .modal-body, #imodal .modal-body { background: #f9f9f9;  }
#modal .modal-footer, #imodal .modal-footer { border-top-color: #cec4c4;background: #f9f9f9;}
#modal .modal-header h5, #imodal .modal-header h5 {font:30px 'BebasNeueBold' }

.svg-icon { margin-top: -5px; }
header .text-uppercase { }

#mobile_menu {padding:0;}
.h-50px {height:50px;}
.mob-icons-box li {margin-left:10px}

.search-form .input-group {  }
.search-form input[type="text"] { border: none; color: #0c1c27; padding: 0; margin-left: 5px; color:#797676;font:14px 'RobotoRegular';text-transform:none;}
.search-form input[type="text"]::-webkit-input-placeholder {color:#797676;font:14px 'RobotoRegular';text-transform:none; }
.search-form input[type="text"]::-moz-placeholder { color:#797676;font:14px 'RobotoRegular';text-transform:none;}
.search-form input[type="text"]:-ms-input-placeholder {color:#797676;font:14px 'RobotoRegular';text-transform:none;}
.search-form input[type="text"]:-moz-placeholder { color:#797676;font:14px 'RobotoRegular'; text-transform:none;}
.search-form input[type="text"]:focus { box-shadow: none; }
.search-form .input-group-text { background: none; border: none; padding: 0; }

.un-padding { margin-left: -15px; margin-right: -15px; }

.slider-pro.mainpage { background: #151415; }
.slider-pro.mainpage .sp-selected-thumbnail { background: #df5527; }
.slider-pro.mainpage .sp-thumbnail-container { margin: 0 !important; }
.slider-pro.mainpage .sp-layer { width: 100%; }
.slider-pro.mainpage .sp-layer a:not(.btn) { text-decoration: none; }


.slider-pro.mainpage .sp-thumbnails-container { margin-left: 0; }
.slider-pro.mainpage .sp-thumbnail-container:first-child { border-top: 0; }
.slider-pro.mainpage .sp-thumbnail-container { border-top: 1px solid #dee2e6; margin: 0; /*height: 75px !important;*/ }
.slider-pro.mainpage .sp-thumbnail { padding: 11px 0px 11px 8px; cursor: pointer; }
.slider-pro.mainpage .sp-thumbnail h5 { font-size: 1em; font-weight: bold; margin-bottom: 5px; }
.slider-pro.mainpage .sp-thumbnail .subtitle { line-height: 1em; font-size: 0.9em; color: #9c9898; }
.slider-pro.mainpage .sp-selected-thumbnail .sp-thumbnail .subtitle { color: #fff; }

#main_menu {  }
#main_menu .media {  }
#main_menu .media-img { width: 20px; }
#main_menu .media-img img { max-width: 28px; max-height: 28px; }

#main_menu .media-body { margin-top: 5px; }
#main_menu .media-body .circle { display: inline-block; font-size: 8px; position: relative; }
#main_menu .media-body .circle .fas { position: absolute; top: -8px; }
#main_menu .dropdown-divider { height: 1px; width: 100%; margin-left: auto; margin-right: auto; background: #434343; }
#main_menu .title { color: #9c9898; text-transform: uppercase; font-weight: bold; font-size: 0.9em; padding: 0 15px 0 20px; display: block; }
#main_menu a, #main_menu .li-item {  padding: 0 10px 0 20px; display: block;  }
#main_menu > ul > li > a:hover { background: #ece7e7; text-decoration: none; }
#main_menu > ul > li.active a, #main_menu > ul > li.active .li-item { background: #797979; color: #fff; }
#main_menu > ul > li.active li a { background: transparent; color: #210402; }
#main_menu > ul > li > ul { list-style: none; padding-left: 5px; margin-top: 10px; } 
#main_menu > ul > li > ul > li a { padding: 7px 15px; }

.catalog-menu-expand-wrapper #main_menu .media-body { margin-top: 5px; padding: 5px 0;}
.catalog-menu-expand-wrapper #main_menu .media-body .circle { display: inline-block; font-size: 8px; position: relative; }
.catalog-menu-expand-wrapper #main_menu .media-body .circle .fas { position: absolute; top: -8px; }
.catalog-menu-expand-wrapper #main_menu .dropdown-divider { height: 1px; width: 100%; margin-left: auto; margin-right: auto; border:0; }
.catalog-menu-expand-wrapper #main_menu .title { color: #9c9898; text-transform: uppercase; font-weight: bold; font-size: 0.9em; padding: 0 15px 0 20px; display: block; }
.catalog-menu-expand-wrapper #main_menu a, #main_menu .li-item {  padding: 0 10px 0 20px; display: block;  }
.catalog-menu-expand-wrapper #main_menu > ul > li > a:hover { background: #5d5d5d; text-decoration: none; }
.catalog-menu-expand-wrapper #main_menu > ul > li.active a, #main_menu > ul > li.active .li-item {  color: #fff; }
.catalog-menu-expand-wrapper #main_menu > ul > li.active li a { background: transparent; }
.catalog-menu-expand-wrapper #main_menu > ul > li > ul { list-style: none; padding-left: 0px; margin-top: 10px; } 
.catalog-menu-expand-wrapper #main_menu > ul > li > ul > li a { padding: 13px 20px; }

#blog_posts .card { cursor: pointer; /*min-height: 250px;*/ }
#blog_posts .card:hover { background: #015aa6; }
#blog_posts .card:hover  a {color:#fff}
#blog_posts .card:hover .for_who { text-shadow: #210402 0px 0px 3px; }
#blog_posts .card .item-complexity { font-size: 1.1em; }
#blog_posts .card .fas { font-size: 0.7em; }
#blog_posts .card:hover .item-complexity { color: #fff !important; }
#blog_posts .card:hover .fas.text-orange { color: #fff !important; } 
#blog_posts .card:hover .fas.text-grey { color: #6c757d !important; }

#blog_post .item-complexity { font-size: 1.1em; }
#blog_post .item-complexity .fas { font-size: 0.7em; }

#promo_items .card { cursor: pointer; }
#promo_items .card a.btn.btn-light { display: none; }
#promo_items .card:hover { background: #f2a020; color: #fff; }
#promo_items .card:hover a.text-dark { color: #fff !important; }
#promo_items .card:hover a.btn.btn-primary { display: none; }
#promo_items .card:hover a.btn.btn-light { display: inline-block; }

#video_reviews a.d-block { content: ''; background: url('../images/video-bg.svg') no-repeat scroll top center; background-size: 100% 15px; padding-top: 15px; }

.reciept-steps { list-style: none; counter-reset: li; }
.reciept-steps li::before { font-family: 'signpaintermedium', sans-serif !important; font-size: 1.8em; line-height: 1em; content: counter(li); color: #f2a020; display: inline-block; margin-right: 10px; }

#catalog_submenu .card { position: relative; z-index: 100; min-height: 200px; cursor: pointer;background:#e6f5ff; }
#catalog_submenu .card:hover { background: #015aa6; }
#catalog_submenu .card:hover a, #catalog_submenu .card:hover a.text-dark { color: #fff !important; }
#catalog_submenu .card:hover > div > a.text-dark { text-decoration: underline; }
#catalog_submenu .card > div > a .circle { display: inline-block; font-size: 8px; position: relative; }
#catalog_submenu .card > div > a .circle .fas { position: absolute; top: -9px; }

#catalog_submenu .card .goto { position: absolute; bottom: 20px; }
#catalog_submenu .card .goto a { text-transform: initial; font-size: 0.9em; display: none; }
#catalog_submenu .card .goto a:hover { background-color: #f2a020; border-color: #f2a020; }
#catalog_submenu .card .goto a img { height: 10px; }
#catalog_submenu .card .goto img.goto-img { border-radius: 50%; padding: 10px 7px 11px 8px; }
#catalog_submenu .card img.preview_image { position: absolute; bottom: 0; right: 0; display: block; z-index: -10;    max-height: 100%; max-width: 100%; }
#catalog_submenu .card img.preview_image.catalog_root { bottom: initial; top: 0; }

#catalog_submenu .card:hover .goto a { display: inline-block; }
#catalog_submenu .card:hover .goto img.goto-img { display: none; }

#catalog_tabs { overflow-y: hidden; }
#catalog_tabs .nav-tabs { border-bottom: none; display: flex; justify-content: space-between;}

#catalog_tabs .nav-item .nav-link {padding: 12px 55px 10px;margin: 0; border: none;border: 1px solid #999999; border-radius: 0px !important;margin-bottom:15px;}
#catalog_tabs .nav-item:last-child .nav-link { margin-right: 0; }
#catalog_tabs .nav-item.show .nav-link, #catalog_tabs .nav-item .nav-link.active { color: #293341; background:#fafbfc ;border:1px solid #fff;font:18px 'MontserratBold';}

#catalog_tabs .nav-item .nav-link {border:0;border-bottom:1px solid #e8e8e8;}
#cart_tabs {}
#cart_tabs li a {margin-bottom:0 !important;color:#a5a3a3 ;border:0;border-bottom:1px solid #e8e8e8;} 
#cart_tabs li a:hover {background:#fda216;color:#fff;}
#cart_tabs li a	{padding:14px 15px 12px !important;}

#bg_topslider {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/default-top.jpg') no-repeat scroll center center;
	background-size: cover;
	min-height: 300px;
	margin-left: -15px;
	position: relative;
	overflow: hidden;
}

a.sp-video:after { border-radius: 100%; }
a.sp-video:hover:after { color: #5cb840; border-color: #5cb840;}

#bg_topslider video {position: absolute;top: 0;left: 0;z-index: 0;height:100%;background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );}

#bg_topslider h1 { font-size: 2em; letter-spacing: 2px; text-shadow: 1px 1px #000; z-index: 2;}
 
#article_menu { font-size: 0.9em;; border-bottom: none; padding-right: 20px; flex-wrap: nowrap; padding-left: 20px;}
#article_menu .nav-link { color: #333; display: table-cell; vertical-align: middle; padding: initial 10px; font-size: 0.9em;border:1px solid #5cb840; }
#article_menu .nav-link:focus, #article_menu .nav-link:hover { }
#article_menu .nav-link.active:focus, #article_menu .nav-link.active:hover {  }
#article_menu .nav-item.show .nav-link, #article_menu .nav-link.active { background-color: #5cb840; color: #fff; border-top-color: transparent; border-left-color: transparent; border-right-color: transparent; border-radius: 6px 6px 0 0; padding-top: 10px; }

#contact_list .fa-chevron-down { display: none; }
#contact_list .fa-chevron-up {  }
#contact_list a.collapsed .fa-chevron-down { display: inline-block; }
#contact_list a.collapsed .fa-chevron-up { display: none; }


#catalog_item {  }
#catalog_item h1 {  } 

#collapse-cat-price {padding:0 0 0 3px;}

#catalog_form {  }
#catalog_form .catalog-filter-item a:hover { color: #7d7d7d; }
#catalog_form .catalog-filter-item a:not(.collapsed) i.fa-chevron-down { display: none; }
#catalog_form .catalog-filter-item a.collapsed i.fa-chevron-up { display: none; }
#catalog_form .ui-slider { height: 2px; border: none; margin-left: 5px; margin-right: 5px; }
#catalog_form .ui-slider-handle { width: 1px; height: 1px; border-radius: 0; padding: 6px; background: #fda216; border-color: #fda216; top: -0.4rem; }
#catalog_form .ui-widget-content { background: #ddd; }
#catalog_form .ui-widget-header { background: #fda216; }

#catalog_form .form-check label { display: block; position: relative; padding-left: 35px;padding-top:3px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
#catalog_form .form-check label input[type="checkbox"] { position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0; }
#catalog_form .form-check .checkmark { position: absolute; top: 0; left: 0; height: 20px; width: 20px; background-color: #fff; border: 1px solid #c1c1c1; border-radius: 0; }
#catalog_form .form-check label:hover input[type="checkbox"] + .checkmark  { background-color: #dadada; }
#catalog_form .form-check label input[type="checkbox"]:checked + .checkmark { background-color: #ffffff;border: 1px solid #c1c1c1;}
#catalog_form .form-check .checkmark:after { content: ""; position: absolute; display: none; }
#catalog_form .form-check label input[type="checkbox"]:checked + .checkmark:after { display: block; }

#catalog_form .form-check label .checkmark:after {
    left: 9px;
    top: 1px;
    width: 7px;
    height: 15px;
    border: solid #fda216;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


#agents_form .fa.fa-asterisk { font-size: 0.7em; margin-left: 5px; color: #dc3545; }
#delivery_form .fa.fa-asterisk { font-size: 0.7em; margin-left: 5px; color: #dc3545; }

#cart_wrap .input-group-text {border:1px solid #f1f1f1;}
#cart_wrap .input-group-text {padding: 5px;}
.box-plusminus {width:35px;height:35px;display:flex;font-size:19px}
#cart_wrap .form-control {height:auto;}

#cart_wrap {  }
#cart_wrap .input-group .input-group-text, #cart_wrap .input-group .form-control { background: transparent; }
#cart_wrap .input-group .input-group-prepend .input-group-text { border-radius: 0; border-right: none;background: #f1f1f1;    padding-left: 15px !important; }
#cart_wrap .input-group .input-group-append .input-group-text { border-radius:0; border-left: none; background: #f1f1f1;padding-left: 14px;padding-right: 13px !important;}
#cart_wrap .input-group .form-control { border-left: none; border-right: none; text-align: center; font-weight: bold; padding: 0; min-width: 50px;width: 50px; }

#footer_menu {  }
#footer_menu ul li a { }
#footer_menu a div .circle { display: inline-block; font-size: 8px; position: relative;margin-right: 5px; }
#footer_menu a div .circle .fas { position: absolute; top: -8px; }

.form-control.is-invalid, .was-validated .form-control:invalid { padding-right: 0; background-image: none; } 
#cart_wrap .form-control {border: 1px solid #f1f1f1;}

.line-behind { display: flex; align-items: center; height: 32px; }
.line-behind:before, .line-behind:after { flex: 1; content: ''; height: 1px; background: rgba(0,0,0,.1); }
.line-behind.hit:before, .line-behind.hit:after { background: rgb(242,160,32,.8); }

footer { }
footer .phone {  display: block; width: 100%; }
footer .btn-outline-dark { border-width: 2px; text-transform: none; margin-top: 5px; text-transform: uppercase; font-weight: bold; }

.openshop-bg { background: url('../images/open-shop.jpg') no-repeat scroll center center; background-size: cover; min-height: 260px; }
.question-bg { background: url('../images/mainpage/igor.html') no-repeat scroll center center; background-size: cover; min-height: 260px; }
.about-bg { background: url('../images/mainpage/spbcenter.html') no-repeat scroll center center; background-size: cover; min-height: 300px; }

.team-bg { background: url('../images/mainpage/team.html') no-repeat scroll center center; background-size: cover; min-height: 150px; border: 1px solid #eee; }
.team-bg:hover { border: 1px solid #f2a020; }
.team-bg:hover a { color: #f2a020 !important; }

.mission-bg { background: url('../images/mainpage/mission.html') no-repeat scroll center center; background-size: cover; min-height: 150px; border: 1px solid #eee; }
.mission-bg:hover { border: 1px solid #f2a020; }
.mission-bg:hover a { color: #f2a020 !important; }

.paper-bg { background: url('../images/mainpage/paper.html') no-repeat scroll center center; background-size: cover; min-height: 150px; border: 1px solid #eee; }
.paper-bg:hover { border: 1px solid #f2a020; }
.paper-bg:hover a { color: #f2a020 !important; }

select.insort { width: auto; border: none !important; outline: none !important; border-color: transparent !important; box-shadow: none !important; }



#manswers_posts .nav a.nav-link { opacity: 0.3; }
#manswers_posts .nav a.nav-link.active { opacity: 1; }

#manswers_posts a.nav-link + .arrow { display: none; }
#manswers_posts a.nav-link.active + .arrow { display: block; }
#manswers_posts li { position: relative; }
#manswers_posts .arrow::before, #manswers_posts .arrow::after { left: 100%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
#manswers_posts .arrow::before { border-color: rgba(194, 225, 245, 0); border-left-color: #dee2e6; border-width: 10px; margin-top: -10px; }
#manswers_posts .arrow::after { border-color: rgba(255, 255, 255, 0); border-left-color: #ffffff; border-width: 9px; margin-top: -9px; }

.owl-carousel .owl-item .card img { width: initial; }

*:hover > .hover-none { display: none !important; }
*:hover > .hover-block { display: block !important; }
*:hover > .hover-inline-block { display: inline-block !important; }
*:hover > .hover-flex { display: flex !important; }

div > [data-list]:nth-child(1) { display: inline-block !important; } 
div > [data-list]:nth-child(2) { display: none !important; }
.exists_in_list > [data-list]:nth-child(1) { display: none !important; }
.exists_in_list > [data-list]:nth-child(2) { display: inline-block !important; }

div > .fav:nth-child(1) { display: inline-block !important; } 
div > .fav:nth-child(2) { display: none !important; }
.exists_in_list > .fav:nth-child(1) { display: none !important; }
.exists_in_list > .fav:nth-child(2) { display: inline-block !important;color:#5cb840 }
.far.fa-heart:hover {color:#5cb840}
 
#layout_without_aside { background: linear-gradient(90deg, #f7f7f7 50%, #fff 50%); }

.for_who { text-transform: uppercase; font-size: 0.7em; letter-spacing: 1.6px; white-space: nowrap; }
.for_who.для_пивовара { color: #f5ba49; }
.for_who.для_самогонщика { color: #77aae6; }
.for_who.для_винодела { color: #f08884; }
.for_who.для_кулинара { color: #6fdba5; }

.page-item.active .page-link {background-color: #5cb840;border-color: #555;}
.page-link,.page-link:hover {color: #434343;}

#email_subscribe_form input[name="email"]:hover { color: #210402 !important; }



/* xs */
@media (max-width: 575px) {
	body { font-size: 10px; } 
	footer form button { width: 100%; }
	footer { }
	#catalog_submenu .card { /*min-height: auto;*/ border-bottom: none; }
	#catalog_submenu > div:last-child .card { border-bottom: 1px solid rgba(0,0,0,.125); }
	#catalog_submenu .card img.preview_image { max-width: 120px; }

	#cart_wrap table tr.even { background: rgba(0,0,0,.05); }
	.modal-dialog_ishops { max-width: 100%; }
	.modal-dialog_idpds { max-width: 100%; }
	#delivery_agents { column-count: 1; }

	#catalog_items > div, .catalog_items > div { padding-left: 5px; padding-right: 5px; }
	.for_who { letter-spacing: 1.1px; }

	#catalog_items .card .buy-block, .catalog_items .card .buy-block, .card.product-item .buy-block { display: block; }

	#manswers_posts a.nav-link + .arrow { display: none !important; }
	#manswers_posts > .border-right { border-right: none !important; }
	.bg-convert-right { background-size: auto 75px; }

	.product-items, .list-items { padding-left: 5px; padding-right: 5px; }
	.product-items .col-6, .list-items .col-6 { padding-left: 4px; padding-right: 4px; }

	.card.product-item .line-behind { margin-left: 0 !important; margin-right: 0 !important; }
	.card.product-item .line-behind img { width: 45px; }
	.card.product-item .mx-4 { margin-left: 0 !important; margin-right: 0 !important; }
	.card.product-item .price-block .buy-block .text-muted { display: none; }
	.card.product-item .price-block .buy-block { padding-bottom: 0 !important; }
	.card.product-item .price-block .buy-block a[data-list-action="add"] { width: 100%; }
	.card.product-item > div > a > div > img { max-height: 150px; }
}

/* sm */
@media (min-width: 576px) and (max-width: 767px) {
	body { font-size: 12px; }
	.logo-wrapper img.logo { width: 65px; }

	.border-sm { border: 1px solid #dee2e6 !important; }
	.border-sm-0 { border: 0 !important; }
	footer { }
	.h-inherit { height: inherit !important; }
	#layout_without_aside { background: linear-gradient(0deg, #f7f7f7 50%, #fff 50%); }

	.modal-dialog_ishops { max-width: 100%; }
	.modal-dialog_idpds { max-width: 100%; }
	#delivery_agents { column-count: 2; }

	#manswers_posts a.nav-link + .arrow { display: none !important; }
	#manswers_posts > .border-right { border-right: none !important; }
}

/* md */
@media (min-width: 768px) and (max-width: 991px) {
	body { font-size: 13px; }
	.logo-wrapper { font-size: 0.9em; }
	.logo-wrapper img.logo { width: 65px; }

	#mainpage_slider { margin-left: -15px; }
	#mainpage_slider_articles { margin-left: -15px; }
	a.soc { }
	footer {  }

	.border-sm { border: 1px solid #dee2e6!important; }
	.h-inherit { height: inherit !important; }

	.modal-dialog_ishops { max-width: 80%; }
	.modal-dialog_idpds { max-width: 80%; }

	#delivery_agents { column-count: 2; }
}

/* lg */
@media (min-width: 992px) and (max-width: 1199px) {
	#mainpage_slider { margin-left: -15px; }
	#content { padding-left: 20px; }
	footer {  }

	#catalog_submenu .card { min-height: 200px; }
	#catalog_submenu .card img.preview_image { width: 140px; }
	.border-sm { border: 1px solid #dee2e6!important; }
	.h-inherit { height: inherit !important; }

	.modal-dialog_ishops { max-width: 80%; }
	.modal-dialog_idpds { max-width: 80%; }

	#delivery_agents { column-count: 3; }
}

/* xl */
@media (min-width: 1200px) {
	#mainpage_slider { margin-left: -15px; }
	#content {  }
	footer {  }
	.border-sm { border: 1px solid #dee2e6!important; }
	.h-inherit { height: inherit !important; }

	#delivery_agents { column-count: 3; }
	#bg_topslider video {height:auto;width:100%;}
}



@media (pointer: fine) {
	#catalog_items .card .buy-block, .catalog_items .card .buy-block, .card.product-item .buy-block { display: none; }
	#catalog_items .card:hover .buy-block, .catalog_items .card:hover .buy-block, .card.product-item:hover .buy-block { display: block; z-index: 10; position: absolute; left: calc(-1.5rem + -1px); width: calc(100% + 2px); padding-left: 1.5rem; padding-right: 1.5rem; background-color: #f7f7f7; border-right: 1px solid rgba(0,0,0,.125); border-bottom: 1px solid rgba(0,0,0,.125); border-left: 1px solid rgba(0,0,0,.125); border-radius: .25rem; }
}

@media print {
	.col-print-1, .col-print-2, .col-print-3, .col-print-4, .col-print-5, .col-print-6, .col-print-7, .col-print-8, .col-print-9, .col-print-10, .col-print-11, .col-print-12 { float: left; }
	.col-print-12 { max-width: 100%; flex: 0 0 100%; }
	.col-print-11 { max-width: 91.66666667%; flex: 0 0 91.66666667%; }
	.col-print-10 { max-width: 83.33333333%; flex: 0 0 83.33333333%; }
	.col-print-9 { max-width: 75%; flex: 0 0 75%; }
	.col-print-8 { max-width: 66.66666667%; flex: 0 0 66.66666667%; }
	.col-print-7 { max-width: 58.33333333%; flex: 0 0 58.33333333%; }
	.col-print-6 { max-width: 50%; flex: 0 0 50%; }
	.col-print-5 { max-width: 41.66666667%; flex: 0 0 41.66666667%; }
	.col-print-4 { max-width: 33.33333333%; flex: 0 0 33.33333333%; }
	.col-print-3 { max-width: 25%; flex: 0 0 25%; }
	.col-print-2 { max-width: 16.66666667%; flex: 0 0 16.66666667%; }
	.col-print-1 { max-width: 8.33333333%; flex: 0 0 8.33333333%; }
}


/*со старого сайта для статей*/
.iblockdetail { line-height: 22px; max-width: 700px; margin: 0 auto; font-size: 16px; }
.iblockdetail img { position: relative; padding: 10px; display: block; line-height: 0; height: auto; }
.iblockdetail a { color: #3399cc; }
.iblockdetail a:hover { color: #800000; }
.iblockdetail table { width: 100%; }
.iblockdetail li { line-height: 22px; } 

